attrs==18.2.0
audioread==2.1.6
backcall==0.1.0
backports.functools-lru-cache==1.5
beautifulsoup4==4.7.1
cachetools==3.1.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cycler==0.10.0
Cython==0.29.5
decorator==4.3.2
future==0.17.1
google-api-core==1.7.0
google-auth==1.6.3
google-cloud==0.34.0
google-cloud-core==0.29.1
google-cloud-storage==1.14.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.8
hypothesis==4.7.9
idna==2.6
ipaddr==2.2.0
ipython==7.3.0
ipython-genutils==0.2.0
jedi==0.13.3
joblib==0.13.2
kiwisolver==1.0.1
librosa==0.6.3
llvmlite==0.27.1
lmdb==0.94
matplotlib==3.0.2
mock==2.0.0
numba==0.42.1
numpy==1.15.4
parso==0.3.4
pbr==5.1.2
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
pkg-resources==0.0.0
prompt-toolkit==2.0.9
protobuf==3.6.1
ptyprocess==0.6.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
pydub==0.23.1
Pygments==2.3.1
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
requests==2.18.4
resampy==0.2.1
rsa==4.0
scikit-learn==0.20.2
scipy==1.2.1
six==1.12.0
soupsieve==1.8
torch==1.0.1.post2
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
