attrs
audioread
backcall
backports.functools-lru-cache
beautifulsoup4
cachetools
certifi
chardet
Click
cycler
Cython
decorator
future
google-api-core
google-auth
google-cloud
google-cloud-core
google-cloud-storage
google-resumable-media
googleapis-common-protos
hypothesis
idna
ipaddr
ipython
ipython-genutils
jedi
joblib
kiwisolver
librosa
llvmlite
lmdb
matplotlib
mock
numba
numpy
parso
pbr
pexpect
pickleshare
Pillow
prompt-toolkit
protobuf
ptyprocess
pyasn1
pyasn1-modules
pydub
Pygments
pyparsing
python-dateutil
pytz
requests
resampy
rsa
scikit-learn
scipy
six
soupsieve
torch==0.4.0
traitlets
urllib3
wcwidth
